<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <span class="card-label">DANH SÁCH NGƯỜI DÙNG</span>
    </div>
    <div class="card-toolbar">
      <button mat-button class="ja_button ja_btn-addnew" (click)="create()">Thêm mới</button>
    </div>
  </div>
  <!-- body -->
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table" [ngStyle]="{ height: getHeight() }">
      <table
        mat-table
        class="table table-head-custom table-vertical-center overflow-hidden"
        [dataSource]="dataSource"
        matSort
        matSortActive="Fullname"
        matSortDirection="asc"
        matSortDisableClear
      >
        <ng-container matColumnDef="NhanVien">
          <th *matHeaderCellDef>
            <span>Nhân viên</span>
          </th>
          <td mat-cell *matCellDef="let r">
            <div class="row jee-avatar">
              <span (click)="hiddenfileinput.click()" style="cursor: pointer">
                <ngx-avatar [size]="40" src="{{ r.Avatar }}" *ngIf="r.Avatar"></ngx-avatar>
                <ngx-avatar [size]="40" [name]="r.Name" bgColor="#FF0000" *ngIf="!r.Avatar"></ngx-avatar>
              </span>
              <span class="jee-name">
                {{ r.Fullname }}
              </span>
            </div>
            <input
              style="display: none"
              accept="image/jpg, image/jpeg, image/png"
              name="Image"
              id="file"
              type="file"
              class="form-control"
              (change)="onFileChange($event, r.Username)"
              #hiddenfileinput
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="TenDangNhap">
          <th *matHeaderCellDef>
            <span>Tên đăng nhập</span>
          </th>
          <td mat-cell *matCellDef="let r">
            <div class>
              <span *ngIf="r.Username != ''">{{ r.Username }}</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="ChucVu">
          <th *matHeaderCellDef>
            <span>Chức vụ</span>
          </th>
          <td mat-cell *matCellDef="let r">
            <span *ngIf="r.Jobtitle != ''">{{ r.Jobtitle }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="QuanLyTrucTiep">
          <th *matHeaderCellDef style="text-align: center">
            <span>Quản lý trực tiếp</span>
          </th>
          <td mat-cell *matCellDef="let r" style="text-align: center">
            <div style="cursor: pointer" (click)="openQuanLyTrucTiepEdit(r.Username, r.DirectManager)">
              <span *ngIf="r.DirectManager != ''">{{ r.DirectManager }}</span>
              <span *ngIf="r.DirectManager == ''">
                <mat-icon>person_add</mat-icon>
              </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="TinhTrang">
          <th *matHeaderCellDef style="text-align: center">
            <span>Tình trạng</span>
          </th>
          <td mat-cell *matCellDef="let r" style="text-align: center">
            <mat-slide-toggle class="example-margin" (click)="changeTinhTrang(r.Username)" [checked]="r.IsActive"> </mat-slide-toggle>
          </td>
        </ng-container>

        <ng-container matColumnDef="GhiChu">
          <th *matHeaderCellDef>
            <span>Ghi chú</span>
          </th>
          <td mat-cell *matCellDef="let r">
            <span>{{ r.Note }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="ThaoTac">
          <th *matHeaderCellDef style="text-align: center">
            <span>Thao tác</span>
          </th>
          <td mat-cell *matCellDef="let r" style="text-align: center">
            <mat-icon (click)="update(r)" style="cursor: pointer; color: #1bc5bd; font-size: 16px" aria-hidden="false"> mode_edit</mat-icon>
            &nbsp;
            <mat-icon (click)="delete(r)" style="cursor: pointer; color: red; font-size: 16px" aria-hidden="false">delete </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="row.highlighted = !row.highlighted"
          [ngClass]="{ hovered: row.hovered, highlighted: row.highlighted }"
          (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"
        ></tr>
      </table>
    </div>
    <!-- start: BOTTOM -->
    <div class="mat-table__bottom">
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <mat-paginator
        [pageSize]="pageSize"
        [pageSizeOptions]="[10, 20, 50, 100]"
        [length]="dataSource.paginatorTotal$ | async"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </div>
</div>
