<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <span class="card-label">{{ 'ACCOUNTMANAGEMENT.DANHSACHNGUOIDUNG' | translate }}</span>
      <app-jee-search-form (keywordEvent)="changeKeyword($event)" (filterEvent)="changeFilter($event)"></app-jee-search-form>
    </div>
    <div class="card-toolbar">
      <button mat-raised-button class="ja_button ja_btn-addnew" (click)="create()">{{ 'COMMOM.THEMMOI' | translate }}</button>
    </div>
  </div>
  <!-- body -->
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table" [ngStyle]="{ height: getHeight() }">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th class="pl-8">
            <span>{{ 'ACCOUNTMANAGEMENT.NHANVIEN' | translate }}</span>
            <app-sort-icon
              column="nhanvien"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            <span>{{ 'COMMOM.USERNAME' | translate }}</span>
            <app-sort-icon
              column="tendangnhap"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            <span>{{ 'ACCOUNTMANAGEMENT.PHONGBAN' | translate }}</span>
            <app-sort-icon
              column="phongban"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            <span>{{ 'COMMOM.CHUCVU' | translate }}</span>
            <app-sort-icon
              column="chucvu"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            <span>{{ 'ACCOUNTMANAGEMENT.QUANLYTRUCTIEP' | translate }}</span>
          </th>
          <th>
            <span>{{ 'COMMOM.TINHTRANG' | translate }}</span>
            <app-sort-icon
              column="tinhtrang"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            <span>{{ 'COMMOM.GHICHU' | translate }}</span>
          </th>
          <th>
            <span>{{ 'COMMOM.THAOTAC' | translate }}</span>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let r of accountManagementService.items$ | async">
            <td>
              <div class="pl-10">
                <div class="row" style="cursor: pointer">
                  <ngx-avatar (click)="hiddenfileinput.click()" [size]="40" src="{{ r.AvartarImgURL }}" *ngIf="r"></ngx-avatar>
                  <ngx-avatar
                    (click)="hiddenfileinput.click()"
                    [size]="40"
                    [name]="r.FirstName"
                    bgColor="{{ r.BgColor }}"
                    *ngIf="!r.AvartarImgURL"
                  ></ngx-avatar>
                  <span class="pl-3" style="align-self: center">
                    {{ r.FullName }}
                  </span>
                </div>
              </div>
              <input
                style="display: none"
                accept="image/jpg, image/jpeg, image/png"
                name="Image"
                id="file"
                type="file"
                class="form-control"
                (change)="onFileChange($event, r.Username)"
                #hiddenfileinput
              />
            </td>
            <td>
              <div>
                <span>{{ r.Username }}</span>
              </div>
            </td>
            <td>
              <div>
                <span>{{ r.Department }}</span>
              </div>
            </td>
            <td>
              <span>{{ r.Jobtitle }}</span>
            </td>
            <td>
              <div style="cursor: pointer" (click)="openQuanLyTrucTiepEdit(r.Username, r.DirectManager)">
                <span *ngIf="r.DirectManager != ''">{{ r.DirectManager }}</span>
                <span *ngIf="r.DirectManager == ''">
                  <mat-icon>person_add</mat-icon>
                </span>
              </div>
            </td>
            <td style="justify-content: center">
              <mat-slide-toggle (click)="changeTinhTrang(r.Username)" [checked]="r.IsActive"> </mat-slide-toggle>
            </td>
            <td>
              <span>{{ r.Note }}</span>
            </td>
            <td>
              <mat-icon (click)="update(r)" style="cursor: pointer; color: #1bc5bd; font-size: 16px" aria-hidden="false">
                mode_edit</mat-icon
              >
              &nbsp;
              <mat-icon (click)="delete(r)" style="cursor: pointer; color: red; font-size: 16px" aria-hidden="false">delete </mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
</div>
