<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-title">
      <div class="row" style="display: inline">
        <h5 class="m-portlet__head-text">
          <span class="dialog-title">Quản lý trực tiếp</span>
          <button mat-button style="float: right; margin: 0" class="ja_button mat-button ja_btn-addnew"
            (click)="onSubmit()">Thêm</button>
          <button mat-button style="float: right; margin: 0; margin-right: 12px;"
            class="ja_button mat-button ja_btn-goback" (click)="goBack()">Đóng</button>
        </h5>
      </div>
    </div>
  </div>
  <div class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
    <div class="m-portlet__body">
      <form [formGroup]="itemForm" class="m-form m-form--group-seperator-dashed">
        <div class="m-form__section m-form__section--first">
          <div class="row m-form__group">
            <div class="col-md-12 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select formControlName="QuanLyNhom" placeholder="Quản lý nhóm" #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search noEntriesFoundLabel="Không tìm thấy" placeholderLabel="Thêm quản lý nhóm"
                      formControlName="FilterQuanLyNhom"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let thanhvien of filterQuanLys | async" [value]="thanhvien.Username">
                    {{thanhvien.Display}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit text-right">
    </div>
  </div>
</div>