<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-title">
      <div class="row" style="display: inline">
        <h5 class="m-portlet__head-text">
          <span class="dialog-title">Sửa tài khoản {{this.data.item.Username}}</span>
          <button mat-button style="float: right; margin: 0" class="ja_button mat-button ja_btn-addnew"
            (click)="onSubmit()">Lưu</button>
          <button mat-button style="float: right; margin: 0; margin-right: 12px;"
            class="ja_button mat-button ja_btn-goback" (click)="goBack()">Đóng</button>
        </h5>
      </div>
    </div>
  </div>
  <div class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
    <div class="m-portlet__body">
      <form [formGroup]="itemForm" class="m-form m-form--group-seperator-dashed">
        <div class="m-form__section m-form__section--first">
          <div class="row m-form__group">
            <div class="col-6 m--margin-bottom-10-mobile">

              <div class="row">
                <div class="col-md-12 m--margin-bottom-10-mobile">
                  <mat-form-field class="mat-form-field-fluid">
                    <input class="require" formControlName="HoLot" placeholder="Họ và tên lót" matInput required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 m--margin-bottom-10-mobile">
                  <mat-form-field class="mat-form-field-fluid">
                    <input class="require" formControlName="Email" placeholder="Email" matInput required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 m--margin-bottom-10-mobile">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="PhongBan" placeholder="Phòng ban" #singleSelect>
                      <mat-option>
                        <ngx-mat-select-search noEntriesFoundLabel="Không tìm thấy"
                          placeholderLabel="Thêm quản phòng ban" formControlName="PhongBanFilterCtrl">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let phongban of filterPhongBans | async" [value]="phongban.RowID">
                        {{phongban.DeparmentName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- ================== -->
            </div>
            <div class="col-6 m--margin-bottom-10-mobile">
              <div class="row">
                <div class="col-md-12 m--margin-bottom-10-mobile">
                  <mat-form-field class="mat-form-field-fluid">
                    <input class="require" formControlName="Ten" placeholder="Tên" matInput required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 m--margin-bottom-10-mobile">
                  <mat-form-field class="mat-form-field-fluid">
                    <input formControlName="SoDienThoai" placeholder="Số điện thoại" matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 m--margin-bottom-10-mobile">
                  <mat-form-field class="mat-form-field-fluid">
                    <input class="require" formControlName="ChucVu" placeholder="Chức vụ" matInput required>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-form__group">
            <div class="col-12 m--margin-bottom-10-mobile">
              <div style="padding-left: 12.5px;" class="row m--margin-bottom-20-mobile">
                <span>Ứng dụng được sử dụng</span>
              </div>
              <div style="padding-left: 12.5px;" class="row m--margin-bottom-10-mobile">
                <label formArrayName="AppsCheckbox" *ngFor="let app of AppsFromArray.controls; let i = index">
                  <input type="checkbox" [formControlName]="i">
                  {{listApp[i].AppName}} &nbsp; &nbsp;
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit text-right">
    </div>
  </div>
</div>