<div class="card card-custom card-sticky gutter-b">
  <div class="card-header">
    <div class="card-title">
      <span class="card-label">{{ 'INFO.THONGTINCANHAN' | translate }}</span>
    </div>
  </div>
  <div class="card-body" *ngIf="personalInfo">
    <div class="row" style="text-align: center">
      <div class="col-lg-12">
        <ngx-avatar (click)="hiddenfileinput.click()" [size]="100" src="{{ personalInfo.Avatar }}" *ngIf="personalInfo"></ngx-avatar>
        <ngx-avatar
          (click)="hiddenfileinput.click()"
          [size]="100"
          [name]="personalInfo.Name"
          bgColor="{{ personalInfo.BgColor }}"
          *ngIf="!personalInfo.Avatar"
        ></ngx-avatar>
        <span class="pl-3" style="align-self: center">
          {{ personalInfo.FullName }}
        </span>
        <input
          style="display: none"
          accept="image/jpg, image/jpeg, image/png"
          name="Image"
          id="file"
          type="file"
          class="form-control"
          (change)="onFileChange($event, username)"
          #hiddenfileinput
        />
      </div>
    </div>
  </div>
</div>
<div class="card card-custom card-sticky gutter-b">
  <span>hế lô 2</span>
</div>
