<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <span class="card-label">Danh sách người dùng</span>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn jee-btn btn-themmoi-blue" (click)="create()">Thêm mới</button>
    </div>
  </div>
  <!-- body -->
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table" [ngStyle]="{ height: getHeight() }">
      <table mat-table class=" table table-head-custom table-vertical-center overflow-hidden " [dataSource]="dataSource"
        matSort matSortActive="Fullname" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="NhanVien">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>Nhân viên</span>
          </th>
          <td mat-cell *matCellDef="let r">
            <div class="row jee-avatar">
                <ngx-avatar (click)="hiddenfileinput.click()" size="40" src="{{r.Avatar}}" *ngIf="r.Avatar"></ngx-avatar>
                <ngx-avatar (click)="hiddenfileinput.click()" size="40" [name]="r.Name" bgColor="#FF0000" *ngIf="!r.Avatar"></ngx-avatar>
              <span class="jee-name">
                {{r.Fullname}}
              </span>
            </div>
            <input style="display: none;" accept="image/jpg, image/jpeg, image/png" name="Image"
                   id="file" type="file" class="form-control" (change)="onFileChange($event, r.Username)"
                   #hiddenfileinput>
          </td>
        </ng-container>

        <ng-container matColumnDef="TenDangNhap">
          <th mat-header-cell *matHeaderCellDef>
            <span>Tên đăng nhập</span>
          </th>
          <td class="jee-content" mat-cell *matCellDef="let r">
            <div class>
              <span *ngIf="r.Username != ''">{{ r.Username }}</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="ChucVu">
          <th mat-header-cell *matHeaderCellDef>
            <span>Chức vụ</span>
          </th>
          <td class="jee-content" mat-cell *matCellDef="let r">
            <span *ngIf="r.Jobtitle != ''">{{ r.Jobtitle }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="QuanLyTrucTiep">
          <th mat-header-cell *matHeaderCellDef>
            <span>Quản lý trực tiếp</span>
          </th>
          <td class="jee-content" mat-cell *matCellDef="let r">
            <span *ngIf="r.DirectManager != ''">{{ r.DirectManager }}</span>
            <span *ngIf="r.DirectManager == ''">
              <mat-icon>person_add</mat-icon>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="TinhTrang">
          <th mat-header-cell *matHeaderCellDef>
            <span>Tình trạng</span>
          </th>
          <td class="jee-content" mat-cell *matCellDef="let r">
            <mat-slide-toggle class="example-margin" (toggleChange)="changeTinhTrang(r.Username)"
              [checked]="r.IsActive">
            </mat-slide-toggle>
          </td>
        </ng-container>

        <ng-container matColumnDef="GhiChu">
          <th mat-header-cell *matHeaderCellDef>
            <span>Ghi chú</span>
          </th>
          <td class="jee-content" mat-cell *matCellDef="let r">
            <span>{{ r.Note }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="ThaoTac">
          <th mat-header-cell *matHeaderCellDef>
            <span>Thao tác</span>
          </th>
          <td mat-cell *matCellDef="let r">
            <a title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                      class="svg-icon svg-icon-md svg-icon-primary">
                </span>
            </a>
            <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                      class="svg-icon svg-icon-md svg-icon-danger">
                </span>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="row.highlighted = !row.highlighted;"
          [ngClass]="{ hovered: row.hovered, highlighted: row.highlighted }" (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"></tr>
      </table>
    </div>
    <!-- start: BOTTOM -->
    <div class="mat-table__bottom">
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$| async"></mat-spinner>
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50, 100]"
        [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </div>
</div>
