<style>
  .example-tree-invisible {
    display: none;
  }

  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .example-tree-node {
    display: block;
  }

  .example-tree-node .example-tree-node {
    padding-left: 20px;
  }
  .setBorder {
    border-bottom: 1px solid black;
    width: 40px;
    height: 0px;
    position: relative;
    left: 0;
    top: 15px;
  }
  .borderMain {
    border-left: 1px solid black;
  }
</style>
<div class="card card-custom card-sticky gutter-b">
  <div class="card-header">
    <div class="card-title">
      <span class="card-label">{{ 'DEPARTMANAGEMENT.DANHSACHPHONGBAN' | translate }}</span>
    </div>
    <div class="card-search">
      <app-jee-search-form
        *ngIf="!isJeeHR"
        [showSearch]="showSearch"
        (keywordEvent)="changeKeyword($event)"
        (filterEvent)="changeFilter($event)"
      ></app-jee-search-form>
    </div>
    <div *ngIf="!isJeeHR" class="card-toolbar">
      <button mat-raised-button class="ja_button ja_btn-addnew" (click)="create()">{{ 'COMMOM.THEMMOI' | translate }}</button>
    </div>
  </div>
  <!-- body -->
  <div class="card-body" *ngIf="!isJeeHR">
    <div class="table-responsive angular-bootstrap-table" [ngStyle]="{ height: getHeight() }">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th style="min-width: 250px; padding-left: 32px">
            <span>{{ 'DEPARTMANAGEMENT.TENPHONGBANNHOM' | translate }}</span>
            <app-sort-icon
              column="phongbanid"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th style="min-width: 150px; text-align: center">
            <span>{{ 'DEPARTMANAGEMENT.QUANLYNHOM' | translate }}</span>
          </th>
          <th style="min-width: 100px; text-align: center">
            <span>{{ 'COMMOM.TINHTRANG' | translate }}</span>
            <app-sort-icon
              column="tinhtrang"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th style="min-width: 300px">
            <span>{{ 'COMMOM.GHICHU' | translate }}</span>
          </th>
          <th style="min-width: 100px; text-align: center">
            <span>{{ 'COMMOM.THAOTAC' | translate }}</span>
          </th>
        </thead>
        <tbody *ngIf="departmentManagementService.items$ | async">
          <tr *ngFor="let r of (departmentManagementService.items$ | async).flat">
            <td style="padding-left: 32px">
              <div>
                <span>{{ r.DepartmentName }}</span>
              </div>
            </td>
            <td>
              <div style="cursor: pointer; text-align: center" (click)="openQuanLyTrucTiepEdit(r.RowID, r.DepartmentManagerUsername)">
                <span *ngIf="r.DepartmentManager != ''">{{ r.DepartmentManager }}</span>
                <span *ngIf="r.DepartmentManager == ''">
                  <mat-icon>person_add</mat-icon>
                </span>
              </div>
            </td>
            <td style="text-align: center">
              <mat-slide-toggle (click)="changeTinhTrang(r.RowID)" [checked]="r.IsActive"> </mat-slide-toggle>
            </td>
            <td>
              <span>{{ r.Note }}</span>
            </td>
            <td style="text-align: center">
              <mat-icon (click)="update(r)" style="cursor: pointer; color: #1bc5bd; font-size: 16px" aria-hidden="false">
                mode_edit</mat-icon
              >
              &nbsp;
              <mat-icon (click)="delete(r.RowID)" style="cursor: pointer; color: red; font-size: 16px" aria-hidden="false"
                >delete
              </mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
</div>
<div class="card card-custom card-sticky gutter-b" *ngIf="isJeeHR">
  <cdk-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
      <div class="borderMain">
        <!-- use a disabled button to provide padding for tree leaf -->
        <div class="setBorder"></div>
        <button mat-icon-button disabled></button>
        {{ node.Title }}
      </div>
    </cdk-nested-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
      <button mat-icon-button [attr.aria-label]="'Toggle ' + node.Title" cdkTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      {{ node.Title }}
      <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container cdkTreeNodeOutlet></ng-container>
      </div>
    </cdk-nested-tree-node>
  </cdk-tree>
</div>
